*
    box-sizing border-box

html, body, #__nuxt, #__layout
    font-family 'Noto Sans SC', sans-serif
    height 100%
    margin 0
    padding 0
    background #fffefc
    color #333

a
    display block
    color inherit
    text-decoration none
    outline 0 none !important

p, span
    margin 0

.container
    max-width 1300px
    margin 0 auto
    padding 0 20px

.right15
    margin-right 15px

.right10
    margin-right 10px

.right5
    margin-right 5px

.el-collapse-item__header
    background-color inherit

.el-collapse-item__wrap
    background-color inherit

    .tui-editor-contents
        font-size 15px
        font-family 'Noto Sans SC', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', '나눔바른고딕', 'Nanum Barun Gothic', '맑은고딕', 'Malgun Gothic', sans-serif

        .lang-output
            color $second-color

.hover
    cursor pointer
    transition background 40ms ease-in 0s
    border-radius 4px

.hover:hover
    background-color $hover-color