*
    box-sizing border-box

html, body, #__nuxt, #__layout
    font-family 'Noto Sans SC', sans-serif
    margin 0
    padding 0
    background #fffefc
    color rgba(0, 0, 0, .75)

a
    display block
    color inherit
    text-decoration none
    outline 0 none !important

p, span, h1, h2, h3, h4
    margin 0

h1, h2, h3, h4
    line-height 1.4

.maxwidth
    max-width 1300px
    margin 0 auto
    padding 0 25px

.right15
    margin-right 15px

.right10
    margin-right 10px

.right5
    margin-right 5px

.el-collapse-item__header
    background-color inherit

.el-collapse-item__wrap
    background-color inherit

.tui-editor-contents
    font-size 15px !important
    font-family 'Noto Sans SC', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', '나눔바른고딕', 'Nanum Barun Gothic', '맑은고딕', 'Malgun Gothic', sans-serif !important

    .lang-output
        color $second-color !important

    p, ul
        margin 1.4em 0 !important

    h1, h2, h3
        margin-top 2.4em !important
        margin-bottom 1.2em !important

    a
        display inline-block !important
        color inherit !important

    img
        display block !important
        margin 1.4em auto !important

    *:first-child
        margin-top 0 !important

.hover
    cursor pointer
    transition background 40ms ease-in 0s
    border-radius 4px

.hover:hover
    background-color $hover-color

.title
    font-weight 500
