$primary-color = #409EFF
$general-color = #666
$prompt-color = #987
$weak-color = #EEE
$divider = 1px solid #DCDFE6
// $first-color = #e33e33
$first-color = rgb(235, 87, 87)
$hover-color = rgba(55, 58, 47, .08)
