$primary-color = #409EFF
$general-color = rgba(0, 0, 0, .75)
$prompt-color = rgba(0, 0, 0, .55)
$weak-color = rgba(0, 0, 0, .3)
$divider = 1px solid #DCDFE6
// $first-color = #e33e33
$first-color = rgb(235, 87, 87)
$second-color = #19358e
$hover-color = rgba(55, 53, 47, .08)
$background = #fffefc
